<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="color:whitesmoke">.</h1>
    <h1 style="color:whitesmoke">.</h1>
    <h1 style="color:whitesmoke">.</h1>
    <hr size="3" width="100%" color="blueviolet">
    <title>Footballer Generator</title>
</head>
<body background="https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_1280.png">
    <div>
        <h1 style="color:whitesmoke; text-align: center; font-family:Verdana; text-decoration:underline; text-decoration-color: whitesmoke;">Footballer Generator</h1>
    </div>
    <div>
        <h2 style="color: whitesmoke; text-align: center; font-family:Verdana">Your footballer is: {{nationality1}} {{position1}} that has the quality {{profile}}</h2>
    </div>
    <div>
        <a href="{{ url_for('index')}}"><button style="background-color: blueviolet; border-color:black; font-family:Verdana; ">*  New Player   *</button></a>
        <h3> </h3>
        <hr size="3" width="100%" color="blueviolet">
    </div>
</body>
<footer><p style = "color:whitesmoke; font-family: Verdana">©Sayeed 2021</p></footer>
</html>